* {
font-size: 1.75em;
text-align: center;
padding: 20px;
}

#one {
font-family: 'Lato', sans-serif;

}

#two {
font-family: 'Source Sans Pro', sans-serif;
}

#three {
font-family: 'Raleway', sans-serif;
}

#four {
font-family: 'PT Sans', sans-serif;
}

#five {
font-family: 'Montserrat', sans-serif;
}

#six {
font-family: 'Roboto', sans-serif;
}

#seven {
font-family: 'Droid Sans', sans-serif;
}

#eight {
font-family: 'Ubuntu', sans-serif;
}

#nine {
font-family: 'Noto Sans', sans-serif;
}

#ten {
font-family: 'Alegreya Sans', sans-serif;
}

#eleven {
font-family: 'Hind', sans-serif;
}

#twelve {
font-family: 'Nunito', sans-serif;
}

#thirteen {
font-family: 'Muli', sans-serif;
}

#fourteen {
font-family: 'Asap', sans-serif;
}

#fifteen {
font-family: 'Signika', sans-serif;
}

#sixteen {
font-family: 'Merriweather Sans', sans-serif;
}

#seventeen {
font-family: 'Karla', sans-serif;
}

#eighteen {
font-family: 'PT Sans Caption', sans-serif;
}

#ninteen {
font-family: 'Questrial', sans-serif;
}

#twenty {
font-family: 'Source Code Pro';
}
