* {
  margin: 0px;
  padding: 0px;
}


.boxes {
  float: left;
  outline: 1px black solid;
  width: 50%;
  text-align: center;
}

li {
  display: inline;
}

h1 {
  display: inline;
  float: left;
}

ul {
  outline: red 1px solid;
  clear: right;
  width: 30%;
  margin-left: 70%;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

.container {
margin: 0 auto;
outline: 1px red solid;
width: 80%;
}

.greeting {
	text-align: center;
	width: 100%;
	padding: 5% 0;	
}
