* {
font-size: 1em;
text-align: center;
}

#1 {
font-family: 'Lato', sans-serif;
}

#2 {
font-family: 'Source Sans Pro', sans-serif;
}

#3 {
font-family: 'Raleway', sans-serif;
}

#5 {
font-family: 'PT Sans', sans-serif;
}

#6 {
font-family: 'Montserrat', sans-serif;
}

#7 {
font-family: 'Roboto', sans-serif;
}

#8 {
font-family: 'Droid Sans', sans-serif;
}

#9 {
font-family: 'Ubuntu', sans-serif;
}

#10 {
font-family: 'Noto Sans', sans-serif;
}

#11 {
font-family: 'Alegreya Sans', sans-serif;
}

#12 {
font-family: 'Hind', sans-serif;
}

#13 {
font-family: 'Nunito', sans-serif;
}

#14 {
font-family: 'Muli', sans-serif;
}

#15 {
font-family: 'Asap', sans-serif;
}

#16 {
font-family: 'Signika', sans-serif;
}

#17 {
font-family: 'Merriweather Sans', sans-serif;
}

#18 {
font-family: 'Karla', sans-serif;
}

#19 {
font-family: 'PT Sans Caption', sans-serif;
}

#20 {
font-family: 'Questrial', sans-serif;
}

#21 {
font-family: 'Source Code Pro';
}
